*{padding: 0;margin: 0;}
.loading{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
    background-color: white;
}
.loading .pic{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 30px;
	text-align: center;
	line-height: 100px;

}
.loading .pic span{
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	box-shadow: 0 3px 0 #666;
	animation: rotate 1s infinite linear;
	-webkit-animation: rotate 1s infinite linear; 
}
@-webkit-skeyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform:rotate(360deg); }
}
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform:rotate(360deg); }
}